<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Flask Docker</title>
</head>
<body>
    <h1 style="text-align: center;">Witaj w prostej aplikacji webowej</h1>
        <h2 style="text-align: center;">POSTGREESQL  MONGO  REDIS</h2>
        <div style="text-align: center;">
            <button><a href="/test_select/">Testuj SELECT</a></button>
            <button><a href="/test_insert/">Testuj INSERT</a></button>
            <button><a href="/test_delete/">Testuj DELETE</a></button>
            <button><a href="/test_update/">Testuj UPDATE</a></button>
        </div>
</body>
</html>